In [1]:
import csv
import pandas as pd
business_file ='yelp_academic_dataset_business.csv'
tips_file ='yelp_academic_dataset_tip.csv'
reviews_file = 'yelp_academic_dataset_review.csv'
tips_fields = ['business_id','user_id','date']
business_fields = ['attributes_Price Range','name','business_id', 
                   'categories','review_count', 'stars', 'state']

business_dataframe = pd.read_csv(business_file, low_memory=False, usecols= business_fields)

tips_dataframe = pd.read_csv(tips_file, low_memory= False, usecols = tips_fields)

business_dataframe = pd.read_csv(business_file, low_memory=False, usecols= business_fields)

tips_dataframe = pd.read_csv(tips_file, low_memory= False, usecols = tips_fields)

In [2]:
business_dataframe.head()

,attributes_Price Range,business_id,categories,name,review_count,stars,state
0,1.0,5UmKMjUEUNdYWqANhGckJw,"Fast Food,Restaurants",Mr Hoagie,7,3.5,PA
1,1.0,UsFtqoBl7naz8AVUBZMjQQ,Nightlife,Clancy's Pub,5,3.0,PA
2,NaN,cE27W9VPgO88Qxe4ol6y_g,"Active Life,Mini Golf,Golf",Cool Springs Golf Center,5,2.5,PA
3,2.0,mVHrayjG3uZ_RLHkLj-AMg,"Bars,American (New),Nightlife,Lounges,Restaurants",Emil's Lounge,26,4.5,PA
4,NaN,mYSpR_SLPgUVymYOvTQd_Q,"Active Life,Golf",Grand View Golf Club,3,5.0,PA

In [3]:
tip_dates  = tips_dataframe['date'].tolist()
year = []
month = []
for i in tips_dataframe.index:
    y, m, d =tip_dates[i].split('-')
    year.append(y)
    month.append(m)

In [4]:
tips_dataframe["year"] = year
tips_dataframe['month'] = month

In [5]:
tips_dataframe.head()

              business_id        date                 user_id  year month
0  5UmKMjUEUNdYWqANhGckJw  2016-07-17  ZxdojCZgZhw36xuSGaryRg  2016    07
1  cE27W9VPgO88Qxe4ol6y_g  2013-04-18  -6rEfobYjMxpUWLNxszaxQ  2013    04
2  mVHrayjG3uZ_RLHkLj-AMg  2016-02-22  5OumCBQ_MyQsltSdbMyunA  2016    02
3  mVHrayjG3uZ_RLHkLj-AMg  2013-01-06  EZ0r9dKKtEGVx2CdnowPCw  2013    01
4  KayYbHCt-RkbGcPdGOThNg  2013-12-03  xb6zEQCw9I-Gl0g06e1KsQ  2013    12

In [6]:
review_fields = ['business_id', 'user_id','date']
reviews_dataframe = pd.read_csv(reviews_file, skipinitialspace = True, usecols = review_fields)

In [7]:
reviews_dataframe.head()

              business_id        date                 user_id
0  5UmKMjUEUNdYWqANhGckJw  2012-08-01  PUFPaY9KxDAcGqfsorJp3Q
1  5UmKMjUEUNdYWqANhGckJw  2014-02-13  Iu6AxdBYGR4A0wspR9BYHA
2  5UmKMjUEUNdYWqANhGckJw  2015-10-31  auESFwWvW42h6alXgFxAXQ
3  5UmKMjUEUNdYWqANhGckJw  2015-12-26  qiczib2fO_1VBG8IoCGvVg
4  5UmKMjUEUNdYWqANhGckJw  2016-04-08  qEE5EvV-f-s7yHC0Z4ydJQ

In [8]:
reviews_dataframe = reviews_dataframe[reviews_dataframe.date.str.contains('20')]

In [9]:
reviews_dataframe.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            2685057, 2685058, 2685059, 2685060, 2685061, 2685062, 2685063,
            2685064, 2685065, 2685066],
           dtype='int64', length=2685066)

In [10]:
review_dates = reviews_dataframe['date'].tolist()
r_year = []
r_month = []
for i in reviews_dataframe['date'].index:
    y, m,d = reviews_dataframe['date'][i].split('-')
    r_year.append(y)
    r_month.append(m)

In [11]:
reviews_dataframe['year'] = r_year

In [12]:
reviews_dataframe['month'] = r_month

In [13]:

reviews_dataframe.head()

              business_id        date                 user_id  year month
0  5UmKMjUEUNdYWqANhGckJw  2012-08-01  PUFPaY9KxDAcGqfsorJp3Q  2012    08
1  5UmKMjUEUNdYWqANhGckJw  2014-02-13  Iu6AxdBYGR4A0wspR9BYHA  2014    02
2  5UmKMjUEUNdYWqANhGckJw  2015-10-31  auESFwWvW42h6alXgFxAXQ  2015    10
3  5UmKMjUEUNdYWqANhGckJw  2015-12-26  qiczib2fO_1VBG8IoCGvVg  2015    12
4  5UmKMjUEUNdYWqANhGckJw  2016-04-08  qEE5EvV-f-s7yHC0Z4ydJQ  2016    04

In [14]:
reviews_dataframe = reviews_dataframe.rename(columns = {'user_id':'user_reviews'})

In [15]:
reviews_dataframe.head()

              business_id        date            user_reviews  year month
0  5UmKMjUEUNdYWqANhGckJw  2012-08-01  PUFPaY9KxDAcGqfsorJp3Q  2012    08
1  5UmKMjUEUNdYWqANhGckJw  2014-02-13  Iu6AxdBYGR4A0wspR9BYHA  2014    02
2  5UmKMjUEUNdYWqANhGckJw  2015-10-31  auESFwWvW42h6alXgFxAXQ  2015    10
3  5UmKMjUEUNdYWqANhGckJw  2015-12-26  qiczib2fO_1VBG8IoCGvVg  2015    12
4  5UmKMjUEUNdYWqANhGckJw  2016-04-08  qEE5EvV-f-s7yHC0Z4ydJQ  2016    04

In [16]:
reviews_grouped = pd.DataFrame(reviews_dataframe.
                               groupby(['business_id','year','month'])
                               ['user_reviews'].apply(list))
reviews_grouped.reset_index()

,business_id,year,month,user_reviews
0,--0ZoBTQWQra1FxD4rBWmg,2014,12,[3qWT-hhx44Yl48UcX7fdQQ]
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg]
2,--0ZoBTQWQra1FxD4rBWmg,2016,01,"[N6slaZ-6YyMTsIzlSnXoZg, LzT8mSfliJHhs68RTwQW5w]"
3,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA]
4,--1emggGHgoG6ipd_RMb-g,2013,10,[6DuBPBgCN6YMowFwrp_P5g]
5,--1emggGHgoG6ipd_RMb-g,2014,06,[jt4zoa6tk5q-4mWtuKHEPg]
6,--4Pe8BZ6gj57VFL5mUE8g,2009,01,[VZ4mMMnCgs1GbKeS6sYQ5g]
7,--4Pe8BZ6gj57VFL5mUE8g,2011,04,[ky9pQ8AKufvZ63IxR41jGg]
8,--4Pe8BZ6gj57VFL5mUE8g,2013,08,[Mu-SsGqShMhQBh_-jLV0tw]
9,--4Pe8BZ6gj57VFL5mUE8g,2013,12,[wLDWtFpyh0hr3wfpj_lxWg]
10,--4Pe8BZ6gj57VFL5mUE8g,2014,07,[epN0_Z-MWmx1DxO0FC7k9w]
11,--4Pe8BZ6gj57VFL5mUE8g,2015,06,[QNtQp2ZCNqjV4GuV80WCpQ]
12,--4Pe8BZ6gj57VFL5mUE8g,2015,07,[fG8FguTuYSQWfj4SisgZsA]
13,--4Pe8BZ6gj57VFL5mUE8g,2016,06,[3I0Ks0eAf3QjD3EvP2qFGw]
14,--5jkZ3-nUPZxUvtcbr8Uw,2011,07,[DBz7nWHg6tLK1JzLFOtU3A]
15,--5jkZ3-nUPZxUvtcbr8Uw,2011,10,"[Cp-PV8rsypbO-xBrQ6KmQg, a8gpBi7biN9VAoJwKgl3Xw]"
16,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,[TIYw6YYfA1V9M-TRzggoSA]
17,--5jkZ3-nUPZxUvtcbr8Uw,2012,02,[8bcuymGpfe4EJr_FCKPpLA]
18,--5jkZ3-nUPZxUvtcbr8Uw,2012,05,[Br9mpMhkVunsp8Un5GpYWA]
19,--5jkZ3-nUPZxUvtcbr8Uw,2012,07,[9zpiquCpW5U9VLRlDnppVQ]
20,--5jkZ3-nUPZxUvtcbr8Uw,2012,08,[8DEtfP9Fmp5X1DG6iTtXnQ]
21,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,[Yvlc_M0VoSS3eD1RDx-PSQ]
22,--5jkZ3-nUPZxUvtcbr8Uw,2013,03,[kp-PUDzJmf1VS0Ln-2McVw]
23,--5jkZ3-nUPZxUvtcbr8Uw,2013,06,[-mZXGphew1wkyJyu3bdB-g]
24,--5jkZ3-nUPZxUvtcbr8Uw,2013,07,"[l-8hT4VIV2saWdLuxU9wrg, wVWv6KK77rBS1BZX4lQybQ]"
25,--5jkZ3-nUPZxUvtcbr8Uw,2013,09,[amNYUamFs7V2pEakBLdfCQ]
26,--5jkZ3-nUPZxUvtcbr8Uw,2013,10,[QAtL9roCZeqQlLDB-Ara7g]
27,--5jkZ3-nUPZxUvtcbr8Uw,2013,11,"[Ki71iAFTxsPPQfX430c99Q, SffAXwKl0orazPic2HSPN..."
28,--5jkZ3-nUPZxUvtcbr8Uw,2013,12,[sDyaN_3DEZyhnJPUFIwoEg]
29,--5jkZ3-nUPZxUvtcbr8Uw,2014,02,[6I5APOV4fIyB1z6pm_6TCg]
...,...,...,...,...
1188234,zzrm5HEoYKEsfdi8XxSXuQ,2015,12,[jduJoUZbZGDCHdojDtPfRg]
1188235,zzrm5HEoYKEsfdi8XxSXuQ,2016,06,[hAm_vwQ4yZem0-FkHC2bjw]
1188236,zztd3r04hvMTZh3ol7VC4g,2012,02,[0Q2QhRuyD_oGodCj__wcvQ]
1188237,zztd3r04hvMTZh3ol7VC4g,2012,03,[22-6yC05pgWbLupHZTjQig]
1188238,zztd3r04hvMTZh3ol7VC4g,2012,11,[vqqFyAF0HcmX_6wV9u9ZIw]
1188239,zztd3r04hvMTZh3ol7VC4g,2013,01,[DQOkoQoMrABXxKEORUR4cA]
1188240,zztd3r04hvMTZh3ol7VC4g,2013,11,[eKxihRdfiPqNo-LVyv5vAg]
1188241,zztd3r04hvMTZh3ol7VC4g,2014,10,[zA3h1nIZiCM8mZronE2LSg]
1188242,zztd3r04hvMTZh3ol7VC4g,2015,05,[42y18Fco8ppmsNh8PjzWbw]
1188243,zzucnDH33KlmbkI4rLyQTA,2008,11,[JVeCUlDmcwJ3pteEdmzeHg]
1188244,zzucnDH33KlmbkI4rLyQTA,2008,12,[H0nYlvGjMA9szTaqIwTwpg]
1188245,zzucnDH33KlmbkI4rLyQTA,2009,12,[fH9OSIlijo9Obp8ZDq8rBg]
1188246,zzucnDH33KlmbkI4rLyQTA,2010,02,"[xVbQUUQjOmpRWRdf_3hvUw, 4vECjx1eQSWCHfM3ZSbrNA]"
1188247,zzucnDH33KlmbkI4rLyQTA,2010,03,[_fRCfwCzY5uLZNf-qJHGhQ]
1188248,zzucnDH33KlmbkI4rLyQTA,2011,01,"[68GwyGcv8bQRRAdL4PjRdA, 4ozupHULqGyO42s3zNUzO..."
1188249,zzucnDH33KlmbkI4rLyQTA,2011,02,[nDBly08j5URmrHQ2JCbyiw]
1188250,zzucnDH33KlmbkI4rLyQTA,2011,03,[fczQCSmaWF78toLEmb0Zsw]
1188251,zzucnDH33KlmbkI4rLyQTA,2011,05,[cENHRJkAcen24FdNuDzzzg]
1188252,zzucnDH33KlmbkI4rLyQTA,2011,08,[odLBL37pT5T9hqcfzDifoA]
1188253,zzucnDH33KlmbkI4rLyQTA,2012,01,[eP9AigoizFeVdYNoBtRC7g]
1188254,zzucnDH33KlmbkI4rLyQTA,2013,01,"[W_R-gVF8OHNrIhtmyhDnyg, Ih-mHTBgxo-MtiLTbd6iow]"
1188255,zzucnDH33KlmbkI4rLyQTA,2014,12,[0TexIhmvZexai28gIpeQKg]
1188256,zzucnDH33KlmbkI4rLyQTA,2015,01,[o2kPaL3nhSrZTxlnQsj5Bw]
1188257,zzucnDH33KlmbkI4rLyQTA,2015,03,[DMmskLAvRS4wZDQhXRL0Qg]
1188258,zzucnDH33KlmbkI4rLyQTA,2015,04,"[IiobUNsh2csAE97x4gr5Ww, DMmskLAvRS4wZDQhXRL0Q..."
1188259,zzucnDH33KlmbkI4rLyQTA,2015,10,[5rIEWJhZEqXRCHKQ_ewOjQ]
1188260,zzucnDH33KlmbkI4rLyQTA,2015,12,"[huuMCczsDTHbW-nt0tD16g, huuMCczsDTHbW-nt0tD16..."
1188261,zzucnDH33KlmbkI4rLyQTA,2016,01,"[SZKCz5psFChQWjqJoCkxtw, sYidJ6jraZjE18eMi8ouN..."
1188262,zzxb0YNkRvH1UgifuR3BvQ,2013,11,[m2WyK2xfZHCfcVP9R4JDIQ]
1188263,zzxb0YNkRvH1UgifuR3BvQ,2014,07,[KtmnxDb0TtBM3Q3AogQmbw]

In [17]:
tips_dataframe = tips_dataframe.rename(columns = {'user_id':'user_tips'})

In [18]:
tips_grouped = pd.DataFrame(tips_dataframe.
                               groupby(['business_id','year','month'])
                               ['user_tips'].apply(list))

In [19]:
tips_count = []
for i in tips_grouped.index:
    tips_count.append(len(tips_grouped['user_tips'][i]))

In [20]:
tips_grouped['tips_count']=tips_count

In [21]:
review_count = []
for i in reviews_grouped.index:
    review_count.append(len(reviews_grouped['user_reviews'][i]))

In [22]:
reviews_grouped['review_count'] = review_count
reviews_grouped = reviews_grouped.reset_index()
reviews_grouped.head()

,business_id,year,month,user_reviews,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,12,[3qWT-hhx44Yl48UcX7fdQQ],1
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1
2,--0ZoBTQWQra1FxD4rBWmg,2016,01,"[N6slaZ-6YyMTsIzlSnXoZg, LzT8mSfliJHhs68RTwQW5w]",2
3,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1
4,--1emggGHgoG6ipd_RMb-g,2013,10,[6DuBPBgCN6YMowFwrp_P5g],1

In [23]:
tips_grouped.head()
tips_grouped = tips_grouped.reset_index()

In [24]:
merged_tips_reviews = pd.merge(tips_grouped,reviews_grouped, how = 'outer',
                               on = ['business_id','year','month'],
                               right_index = True, left_index = False)

In [25]:
merged_tips_reviews.head(n=20)

,business_id,year,month,user_tips,tips_count,user_reviews,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1.0,NaN,NaN
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1.0,[tTQwXGXwGrcEnrJ4gziGAg],1.0
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1.0,[5hBsVMJOc8sXMPt8S3NjmA],1.0
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1.0,NaN,NaN
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1.0,NaN,NaN
5,--1emggGHgoG6ipd_RMb-g,2014,04,[jlEAr91TDq1cdeE7P_MPnQ],1.0,NaN,NaN
6,--1emggGHgoG6ipd_RMb-g,2014,06,[iHbJlgmSTdZro6j8od1Phw],1.0,[jt4zoa6tk5q-4mWtuKHEPg],1.0
7,--1emggGHgoG6ipd_RMb-g,2014,07,[jt4zoa6tk5q-4mWtuKHEPg],1.0,NaN,NaN
8,--1emggGHgoG6ipd_RMb-g,2014,10,[jt4zoa6tk5q-4mWtuKHEPg],1.0,NaN,NaN
9,--4Pe8BZ6gj57VFL5mUE8g,2014,07,[epN0_Z-MWmx1DxO0FC7k9w],1.0,[epN0_Z-MWmx1DxO0FC7k9w],1.0
10,--4Pe8BZ6gj57VFL5mUE8g,2016,06,[3I0Ks0eAf3QjD3EvP2qFGw],1.0,[3I0Ks0eAf3QjD3EvP2qFGw],1.0
11,--5jkZ3-nUPZxUvtcbr8Uw,2011,09,"[rAfN_eXc7PvtISk2ZIZfGQ, X1C6Ufo9Y0OxoxORBYPOLA]",2.0,NaN,NaN
12,--5jkZ3-nUPZxUvtcbr8Uw,2011,11,[ByOxnioKRball6-8UXn04w],1.0,NaN,NaN
13,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,[ehhIzy0QaQ9B-V4VVMgYmQ],1.0,[TIYw6YYfA1V9M-TRzggoSA],1.0
14,--5jkZ3-nUPZxUvtcbr8Uw,2012,01,[a8gpBi7biN9VAoJwKgl3Xw],1.0,NaN,NaN
15,--5jkZ3-nUPZxUvtcbr8Uw,2012,03,[nE5cyRKybI4-2iMQedWdAQ],1.0,NaN,NaN
16,--5jkZ3-nUPZxUvtcbr8Uw,2012,04,[ke-6ePNfYkNPfICmvlc6GA],1.0,NaN,NaN
17,--5jkZ3-nUPZxUvtcbr8Uw,2012,09,[TuLjkOVG7jBPADZ3nIg5vw],1.0,NaN,NaN
18,--5jkZ3-nUPZxUvtcbr8Uw,2012,10,[TuLjkOVG7jBPADZ3nIg5vw],1.0,NaN,NaN
19,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,[oZuNME_exUMSjrcg6uRFjw],1.0,[Yvlc_M0VoSS3eD1RDx-PSQ],1.0

In [33]:
# Replacing all the NaNs with 0 value in user_reviews and review_count
merged_tips_reviews['user_reviews'].fillna(0, inplace=True) 
merged_tips_reviews['review_count'].fillna(0, inplace=True)
merged_tips_reviews.head()
#df[1].fillna(0, inplace=True)

,business_id,year,month,user_tips,tips_count,user_reviews,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1.0,0,0.0
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1.0,[tTQwXGXwGrcEnrJ4gziGAg],1.0
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1.0,[5hBsVMJOc8sXMPt8S3NjmA],1.0
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1.0,0,0.0
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1.0,0,0.0

merged_tips_reviews["overlap_count"] = (merged_tips_reviews.user_tips & merged_tips_reviews.user_reviews).sum()
#set(merged_tips_reviews.user_reviews)

In [34]:
merged_tips_reviews["overlap_count"] = (merged_tips_reviews.user_tips & merged_tips_reviews.user_reviews).sum()

TypeError: unsupported operand type(s) for &: 'list' and 'bool'